<?xml version="1.0"?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="world_name" default="duckietown_circle_road"/>
  <arg name="veh" default="david" doc="Name of vehicle. ex: megaman"/>
  <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find platooning_tracking_gazebo)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find platooning_tracking_gazebo)/worlds/duckietown_circle_road.world"/>
    <!-- more default parameters can be changed here -->
    <arg name="verbose" value="true"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  </include>

  <!-- insert model(sdf) -->
  <!--param name="robot_model" textfile="$(find platooning_tracking_gazebo)/models/LV/model.sdf"/-->
  <!--node name="spawn_robot1" pkg="gazebo_ros" type="spawn_model" args="-gazebo -param robot_model -model myrobot" respawn="false" output="screen" /-->


  <!-- Spawn a robot into Gazebo(urdf) -->
  <!--node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find platooning_tracking_gazebo)/models/LV/model.urdf -urdf -z 1 -model model" /-->

  <!-- xacro -->
  <!-- leader -->
  <group ns="leading_vehicle">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find platooning_tracking_gazebo)/models/2_test/leader.xacro'" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -y 2.4 -z 1 -model model" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
  </group>

  <!-- follower -->
  <group ns="following_vehicle">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find platooning_tracking_gazebo)/models/2_test/follower.xacro'" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -z 1 -model FV" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
  </group>
 
  <include file="$(find platooning_tracking_control)/launch/2_test_control.launch" />



</launch>
